{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "trailingComma": "all",
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:prettier/recommended"]
}
